<div class="relative text-gray-800 bg-gray-50">
    <!-- Navbar -->
        
        <!-- / Navbar -->
        <!-- Name section -->
        <section class="flex flex-col items-center justify-center mb-20 px-8">
            <!-- style="height: 50vh" -->
            <div class="flex flex-col items-center justify-center text-center h-screen-half">
                <!-- image -->
                <h1 class="text-7xl sm:text-6xl lg:text-9xl pt-6 m-10">Valentin Fouillet</h1>
                <h2 class="font-light text-4xl sm:text-5xl lg:text-8xl mb-12">Dev FullStack Junior</h2>
                <img class="md:hidden object-cover w-15 h-40 rounded-full mb-5 ring-2 ring-gray-500/50 ring-offset-[10px]"
                    src="assets/moi.png" alt="Valentin Fouillet">
            </div>
        </section>
        <!-- /Name Section -->
        <!-- image section -->
        <section class="flex items-center justify-between px-8 mb-20 tracking-wider">
            <!-- Summary (left) -->
            <div class="flex flex-col w-full md:w-1/3 space-y-12 text-center md:text-left">
                <div class="flex flex-col px-10 md:px-20">
                    <h3 class="text-xxl font-bold">Stack</h3>
                    <br>
                    <span class="text-lg">Javascript</span>
                    <span class="text-lg">Angular JS</span>
                    <span class="text-lg">MongoDB</span>
                    <span class="text-lg">PostgreSQL</span>
                    <span class="text-lg">Git</span>
                </div>
                <div class="px-10 md:px-20 m-18">
                    <h3 class="text-xl font-bold">Qui suis-je ?</h3>
                    <br>
                    <p class="w-full md:w-2/3">Je suis un développeur super motivé dans tout ce que j'entreprends, 
                        j'adore apprendre et développer mes connaissances. Donner le meilleur de moi-même est mon maitre mot, 
                        quel que soit le sujet.
                        J’ai été habitué à une vraie rigueur et une autonomie de travail grâce à Epitech.</p>
                </div>
                <div class="px-10 md:px-20">
                    <br>
                    <h3 class="text-xl font-bold">Contacte moi !</h3>
                    <br>
                    <a class="text-xl hover:text-blue-600" href="mailto:test@nomail.com">valentin.fouillet@epitech.eu</a>
                    <br>
                    <br>
                    <p>06 50 14 92 53</p>
                </div>
            </div>
        </section>
       
        <!-- Resume -->
        <section class="px-20 mt-10">
            <h4 class="mb-8 text-3xl font-bold text-center md:text-left">Mon experience</h4>
            <app-carousel></app-carousel>
        </section>
        <hr class="border-gray-400 mx-44" />
        <br>
        <!-- Resume -->
        <section class="px-20 mt-10">
            <h4 class="mb-8 text-3xl font-bold text-center md:text-left">École</h4>
            <div class="grid grid-cols-1 md:grid-cols-6 my-10">
                <div class="flex flex-col col-span-2 mb-4 md:mb-0">
                    <h5 class="text-xl md:text-2xl  font-bold"></h5>
                    <h6 class="text-lg font-bold">Epitech Paris</h6>
                    <p>Promo 2025 - Programme grande école</p>
                </div>
                <div class="flex flex-col col-span-4 ">
                    <p>Epitech est une école d'informatique de haut niveau qui forme les étudiants à devenir des experts en informatique. La formation est axée sur la pratique et permet aux étudiants de développer leurs compétences en programmation, en développement de projets et en gestion de projets informatiques.

                        Epitech est également connu pour son enseignement basé sur le projet, où les étudiants travaillent sur des projets réels en collaboration avec des entreprises et des start-ups. Cela permet aux étudiants de mettre en pratique les compétences acquises en cours et de développer leur expérience professionnelle.
                        
                        En étant diplômé d'Epitech, j'ai acquis une solide formation en informatique, ainsi qu'une expérience professionnelle grâce aux projets réalisés en collaboration avec des entreprises. Cela me permet d'être un expert en informatique, capable de résoudre des problèmes complexes et de développer des solutions innovantes.</p>
                </div>
            </div>
        </section>
        <footer class="absolute w-full h-36 bottom-0 p-8 px-16 bg-gray-800 text-gray-50">
            <p class="text-2xl">Merci !</p>
            <a class="text-lg" href="mailto:mail@you.com">valentin.fouillet@epitech.eu</a>
        </footer>
        <div class="h-80">
    </div>
</div>